#container {
    height : 800px;
    width : 800px;
    display : flex;
    flex-direction: column;
}

.line {
    flex: auto;
    display: flex;
}

.square {
    flex : auto;
    /* box-shadow: inset black 0px 0px 0px 1px; */
    background-color: orchid;
}

.square.hover {
    background-color: purple;
}

#button-box {
    width: 800px;
    display: flex;
    justify-content: center;
}